<style type="text/css">
	i.fa-plus-square {
		cursor: pointer;
	}
</style>

<div class="table-responsive"> 
	<table class="table">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>id</th>
				<th>subject</th>
				<th>current assignee</th>
				<!-- since all data are same for last few dates, we can use the first one -->
				<th ng-repeat="d in data[0].days">{{::d.date | date: 'dd-MM'}}</th>
			</tr>
		</thead>
		<tbody ng-repeat="issue in data">
			<tr>
				<td>
					<i class="fa fa-plus-square" ng-click="setShowDetail($index)"></i>
				</td>
				<td><a href="https://project.simplity.eu/issues/{{::issue.id}}" target="_blank" tooltip="{{::issue.lastNote | limitTo: 100}}">{{::issue.id}}</a></td>
				<td><a href="https://project.simplity.eu/issues/{{::issue.id}}" target="_blank" tooltip="{{::issue.lastNote | limitTo: 100}}">{{::issue.subject}}</a></td>
				<td><a href="" tooltip="{{::issue.lastNote | limitTo: 100}}">{{::issue.days[0].assignee}}</a></td>
				<td ng-repeat="d in issue.days">{{::d.doneRatio}}%</td>
			</tr>
			<tr ng-show="showDetail === $index" class="larch-detail">
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>Spent</td>
				<td ng-repeat="d in issue.days">{{::d.spent}} mh</td>
			</tr>
			<tr ng-show="showDetail === $index" class="larch-detail">
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>Estimated</td>
				<td ng-repeat="d in issue.days">{{::d.estimated}} mh</td>
			</tr>
		</tbody>
		
	</table>
</div>